.admin-list {
    display: grid;

    .admin-product-preview {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;

        img {
            width: 100px;
            aspect-ratio: auto;
            @include for-mobile-layout {
                width: 70px;
            }
        }

        h3 {
            place-self: center;
            @include for-mobile-layout {
                font-size: 12px;
                max-width: fit-content;
                text-align: center;
            }
        }
        h4 {
            place-self: center;
            @include for-mobile-layout {
                font-size: 10px;
                max-width: fit-content;
                text-align: center;
            }
        }

        .actions {

            span {
                cursor: pointer;
                margin-inline: 10px;
                svg {
                    width: 20px;
                    height: 20px;
                    @include for-mobile-layout {
                        width: 16px;
                    height: 16px;
                    }
                }
            }
        }
    }
}