.cart-preview {
    height: fit-content;
    display: grid;
    grid-template-columns: 1.5fr 9fr 1fr;
    padding: 24px 0;

    @include for-tablet-layout {
        grid-template-columns: 2fr 9fr 1fr;
    }

    @include for-mobile-layout {
        grid-template-columns: 3fr 9fr 1fr;
    }

    .img-wrapper {
        cursor: pointer;
        background-color: rgb(245, 245, 245);
        width: 100%;
        img {
            padding-inline: 10%;
            padding-bottom: 10%;
            width: 100%;
            mix-blend-mode: multiply;
            aspect-ratio: auto;
        }
    }

    .product-info {
        display: grid;
        margin-inline-start: 20px;

        .trash-icon {
            cursor: pointer;
            align-self: end;
            
            &:hover {
                opacity: 0.6;
            }
        }
    }

}