.cart-preview {
    height: fit-content;
    display: grid;
    grid-template-columns: 1.5fr 9fr 1fr;
    padding: 24px 0;
    h3 {
        font-weight: bold;
        @include for-mobile-layout {
            font-size: 16px;
        }
    }
    h4 {
        @include for-mobile-layout {
            font-size: 13px;
        }
    }
    svg {
        @include for-mobile-layout {
            width: 15px;
        }
    }


    @include for-tablet-layout {
        grid-template-columns: 2fr 9fr 1fr;
    }

    @include for-mobile-layout {
        grid-template-columns: 3fr 9fr 1fr;
    }

    .img-wrapper {
        cursor: pointer;
        background-color: rgb(245, 245, 245);
        width: 100%;
        img {
            padding-inline: 3%;
            padding-bottom: 3%;
            width: 100%;
            mix-blend-mode: multiply;
            aspect-ratio: auto;
        }
    }

    .product-info {
        display: grid;
        margin-inline-start: 20px;

        .trash-icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            // justify-content: end;
            
            &:hover {
                opacity: 0.6;
            }
        }
    }

}