.main-filter {
    padding: 10px;
    z-index: 1000;
    input {
        margin-bottom: 10px;
    }
    h4 {
        width: fit-content;
        min-width: 130px;
        border-bottom: 2px solid black;
    }
  .results {
    max-height: 8rem;
    overflow-y: scroll;
    padding: 10px;
    color: black;
  }
  .brand-label {
    font-size: 14px;
    color: #727272;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}