.nav-screen {
    position: relative;

    @include for-mobile-layout {
        // padding: 0 50px;
    }

    .nav-content {
        position: absolute;
        left: -100%;
        background-color: #fff;
        width: 43%;
        height: 100vh;
        z-index: 10;

        @include for-mobile-layout {
            width: auto;
        }

        .nav-content-header {
            padding-inline: 8px;
            box-shadow: rgb(229, 229, 229) 0px 0px 0px 0px inset, rgb(229, 229, 229) 0px 0px 0px 0px inset, rgb(229, 229, 229) 0px -1px 0px 0px inset, rgb(229, 229, 229) 0px 0px 0px 0px inset;

            h2 {
                font-size: 22px;

                @include for-mobile-layout {
                    font-size: 20px;
                }
            }

            span {
                cursor: pointer;
                height: 24px;

                svg {
                    width: 24px;
                    height: 24px;
                    fill: rgb(71, 71, 71);

                    @include for-mobile-layout {
                        width: 20px;
                        margin-left: 7px;
                    }
                }
            }
        }

        .header-links {
            padding-top: 20px;
            display: grid;

            >* {
                position: relative;
                padding: 10px;
                text-decoration: none;

                &:hover {
                    background-color: #f5f5f5;

                    .expand {
                        display: block;
                    }
                }

                .expand {
                    width: 170px;
                    top: 0;
                    left: 100%;
                    translate: 0%;
                }
            }
        }

        .login-section {
            margin-top: 15px;
            display: grid;
            gap: 15px;
            padding: 10px;
.mobile-user {
    cursor: pointer;
}
            h2 {
                font-size: 1rem;
            }

            button {
                height: 44px;
                transition: .2s;
                background-color: #fff;
                color: #000;
                font-family: poppins-medium;
                font-size: 1rem;
                border-radius: 6px;
                border-width: 1px;
                margin: 0 0;

                &:hover {
                    opacity: .6;
                }
            }

            .sign-in {
                background-color: #000;
                color: #fff;
            }

            .register {
                border: .11rem solid #222;
            }

            .user-icon {
                margin-inline-end: 5px;
                height: 24px;
                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .black-screen {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        display: none;
        z-index: 6;
    }

    &.open {

        .nav-content {
            left: 0;
            transition: .4s;
        }

        .black-screen {
            opacity: .45;
            display: block;
        }
    }
}