.product-preview {
  position: relative;
  display: grid;

  .product-img {
    mix-blend-mode: multiply;
  }

  .product-wrapper {
    position: relative;
    width: 100%;
    padding-inline: 20px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: auto;
      // @include for-mobile-layout {
      //   width: 130px;
      // }
    }

    .img-top {
      display: none;
    }

    &:hover {

      .img-top {
        display: inline-block;
      }

      .img-bottom {
        display: none;
      }
    }
  }

  .brand {
    font-family: poppins-medium;
  }

  h4 {
    @include for-mobile-layout {
      font-size: 13px;
    }
  }
  .price-wrapper {
    gap: 20px;
    font-family: poppins-medium;

    span {
      font-size: 1rem;
      @include for-mobile-layout {
        font-size: 0.8rem;
      }
    }

    > :last-child {

      span {
        text-decoration: line-through;
      }
    }
  }
  .icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      .heart-icon {
        svg {
          transition: 0.1s;
          scale: 1.06;
          fill: rgb(0, 0, 0);
          stroke:rgb(0, 0, 0);
        }
      }
    }
    .heart-icon {
      svg {
        fill: none;
        stroke: #444444;
      }
      &.favorite {
        svg {
          fill: rgb(0, 0, 0);
          stroke:rgb(0, 0, 0);
        }
      }
    }
  }
}