.product-details {
    height: 80%;

    .info {
        display: grid;
        grid-template-columns: 60% 40%;

        .imgs-wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            img {
                width: 100%;
            }
        }

        .product-add-section {

            .product-add {
                display: grid;
                position: sticky;
                top: 150px;
                height: 50%;
                padding: 10px;

                .size-select {
                    border-radius: 6px;
                    height: 50px;
                }

                .btn-container {
                    height: 44px;
                    width: 100%;

                    >* {
                        height: 100%;
                    }

                    .btn-add {
                        background-color: #000;
                        color: #fff;
                        font-family: poppins-medium;
                        font-size: 1em;
                        width: 80%;
                        border-radius: 6px;
                        border: none;
                        transition: .3s;

                        &:hover {
                            opacity: .6;
                        }
                    }

                    .btn-favorite {
                        background-color: #fff;
                        border-radius: 6px;
                        width: 15%;
                    }
                }
            }
        }
    }

    .recommended-section {

        .recommended-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;

            .recommended-preview {
                mix-blend-mode: multiply;
                img {
                    width: 100%;
                    padding: 5px;
                    border-radius: 3px;
                }
            }
        }
    }
}