.shipping-address {

    h1 {
        font-size: rem(22px);
        color: #000;
        margin-bottom: 20px;
    }

    h4 {
        font-size: rem(14px);
        color: #222222;
        margin-bottom: 12px;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 20px;

        >* {
            grid-column: 1 / -1;

            input {
                @include input;
                border-color: rgba(34, 34, 34, .25);
            }

            label {
                line-height: rem(18px);
                color: #000;
                font-size: rem(14px);
                padding-bottom: 4px;
            }
        }

        >:first-child {
            grid-column: 1;
        }

        >:nth-child(2) {
            grid-column: 2;
        }

        >*:not(button) {
            display: grid;
        }
    }

    .summary {
        padding: 24px 0;
        border-top: 0.1rem solid #e6e6e6;

        h2 {
            font-size: rem(22px);
        }

        .delivery {
            padding: 10px 0;
            border-bottom: 0.1rem solid #e6e6e6;
            margin-bottom: 10px;
        }

        .total {
            color: #222222;
            font-family: poppins-medium;
        }
    }

    .btn-submit {
        margin-bottom: 70px;
        height: 44px;
        width: 320px;
        background-color: #222;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-family: poppins-medium;
        font-size: rem(16px);
        transition: .2s;

        >:first-child {
            width: 100%;
        }

        >:nth-child(2) {
            width: 1%;
            translate: -1000%;
            transition: .1s;
        }

        span {
            height: 25px;

            svg {
                height: 25px;
                fill: #fff;
            }
        }

        &:hover {
            opacity: .7;

            >:nth-child(2) {
                translate: -900%;
            }
        }
    }
}