// Externals

// Setup
@import 'setup/typography.scss';
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/modals';
@import 'basics/animations';

// Views
@import 'views/Admin';
@import 'views/Cart';
@import 'views/Favorites';
@import 'views/Homepage';
@import 'views/ProductDetails';
@import 'views/ProductEdit';
@import 'views/ProductsPage';
@import 'views/ShippingAddress';
@import 'views/UserDetails';

// Components
@import 'cmps/AppHeader';
@import 'cmps/FavoritesList';
@import 'cmps/CheckoutPreview';
@import 'cmps/PaymentHeader';
@import 'cmps/UserMsg';
@import 'cmps/HeaderExpand';
@import 'cmps/Login';
@import 'cmps/AppFooter';
@import 'cmps/AdminList';
@import 'cmps/NavScreen';
@import 'cmps/CartPreview';
@import 'cmps/ProductsList';
@import 'cmps/ProductPreview.scss';
@import 'cmps/MainFilter.scss';
@import 'cmps/RecommendedPreview.scss';
